body {
    font-family: Arial, sans-serif;
}

.textCard {
    margin: 8px;
    margin-left: 0px;
    font-size: 15px;
}

* {
    box-sizing: content-box !important; /* O el valor que desees */
}

p {
    font-size: 13px;
}

#juegos-lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Distribuye el espacio alrededor de las tarjetas */
    align-items: flex-start; /* Alinea las tarjetas en la parte superior */
    gap: 30px;
    
    flex-direction: row;
    
}


.cardmamalon {
    background-color: #191919;
    color: #ffffff;
    border-radius: 12px;
    padding: 15px;
    padding-bottom: 0px;
    max-width: 200px;
    max-height: auto;
    text-align: left;
    border: 3px solid var(--gold);
    box-shadow: 0px 0px 10px 3px rgba(255, 215, 0, 0.9);
    cursor: pointer;
}

.cardmamalon img {
    max-width: 100%;
    border-radius: 8px;
}
