:root {
    --black: #1a1a1a;
    --light-Black: #333;
    --dark-Black: rgba(0, 0, 0, 0.5);
    --white: #fff;
    --sky-blue: #00bfff;
    --gold: #ffd700;
    --deep-pink: #ff1493;
    --navy: #000080;

    /* Variables por defecto (modo oscuro) */
    --background-color: var(--black);
    --text-color: var(--white);
    --header-background: var(--light-Black);
    --container-background: var(--light-Black);
    --input-background: var(--white);
    --input-color: var(--light-Black);
}

.light-mode {
    /* Variables para el modo claro */
    --background-color: var(--white);
    --text-color: var(--black);
    --header-background: #e0e0e0;
    --container-background: #f0f0f0;
    --input-background: #333;
    --input-color: var(--white);
}

/* Estilos generales usando las variables */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100%;
    justify-content: center;
    margin: 0; 
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.header {
    display: flex;
    background-color: var(--header-background);
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 30px;
    gap: 10px;
}

.logo {
    max-width: 150px;
}

.icon {
    max-height: 40px;
}

.searchBar {
    border-radius: 10px;
    background-color: var(--input-background);
    color: var(--input-color);
    height: 40px;
    min-width: 200px; 
    max-width: 600px; 
    width: 70%; 
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow:0px 0px 10px 3px rgba(0,191,255,0.9);
    -moz-box-shadow: 0px 0px 10px 3px rgba(0,191,255,0.9);
    box-shadow: 0px 0px 10px 3px rgba(0,191,255,0.9);
}

.icon-search {
    max-width: 30px;
    cursor: pointer;
}

.searchBar button {
    border: none;
    background-color: transparent;
}

.searchBar input {
    height: 30px;
    width: 100%; 
    border: none;
    border-radius: 10px;
    padding-left: 10px;
}

.searchBar input:focus {
    outline: none; 
}

.options {
    display: flex;
    gap: 20px;
}

.container {
    max-width: 80%;
    width: 80%;
    background-color: var(--container-background);
    border-radius: 10px;
    margin: 30px;
    padding: 30px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    background-color: var(--header-background);
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0; 
    bottom: 0;
    width: 100%; 
}

.footer .logo {
    margin-left: auto; 
    width: 80px;
}

.footerContent {
    display: flex;
    gap: 30px;
}

.footerContent a {
    color: var(--text-color);
    text-decoration: none;
}

.bodymamalon {
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100%;
    justify-content: center;
    margin: 0; 
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    background-color: var(--input-background);
    color: var(--input-color);
    top: 120px;
    width: 100%; /* Establece el ancho al 100% del contenedor */
    max-width: 600px; /* Ajusta el ancho máximo si es necesario */
    z-index: 9999; /* Asegúrate de que esté por encima de otros elementos */
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: var(--input-background);
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}
