:root {
    --black: #1a1a1a;
    --light-Black: #121212;
    --dark-Black: #090909;
    --white: #fff;
    --sky-blue: #008cff;
    --gold: #ffd700;
    --deep-pink: #ff1493;
    --azulon: #f74c0e;
    --moradon: #F66D1E; 
    --rojon: #008cff;
 
    --background-color: var(--black);
    --text-color: var(--white);
    --header-background: var(--light-Black);
    --container-background: var(--light-Black);
    --input-background: var(--white);
    --input-color: var(--light-Black);
    --inner-border: var(--dark-Black);
    
    --neon1: var(--deep-pink);
    --neon2: var(--gold);
    --neon3: var(--sky-blue);
}

.light-mode {
    --background-color: var(--white);
    --text-color: var(--black);
    --header-background: #e0e0e0;
    --container-background: #f0f0f0;
    --input-background: #333;
    --input-color: var(--white);
    --inner-border: var(--white);

    --neon1: var(--azulon);
    --neon2: var(--moradon);
    --neon3: var(--rojon);

}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100%;
    justify-content: center;
    margin: 0; 
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.header {
    display: flex;
    background-color: var(--header-background);
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 30px;
    gap: 10px;
}

.logo{
    max-width: 100px;
    padding: 0px 20px 0px 10px;
}


.icon{
    max-height: 30px;
    padding: 0px 20px 0px 10px;
}

.searchBar {
    border-radius: 10px;
    background-color: var(--white);
    color: var(--input-color);
    height: 40px;
    min-width: 200px; 
    max-width: 750px; 
    width: 70%; 
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid var(--neon3);
    box-shadow: 0px 0px 10px 3px var(--neon3);
}

.icon-search {
    max-width: 30px;
    cursor: pointer;
}

.searchBar button {
    border: none;
    background-color: transparent;
}

.searchBar input {
    height: 30px;
    width: 100%; 
    border: none;
    border-radius: 10px;
    padding-left: 10px;
}

.searchBar input:focus {
    outline: none; 
}

.options {
    display: flex;
    gap: 20px;
}

.container {
    max-width: 80%;
    width: 80%;
    background-color: var(--container-background);
    border-radius: 10px;
    margin: 30px;
    padding: 30px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    background-color: var(--header-background);
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0; 
    bottom: 0;
    width: 100%; 
}

.footer .logo {
    margin-left: auto; 
    width: 80px;
}

.footerContent {
    display: flex;
    gap: 30px;
}

.footerContent a {
    color: var(--text-color);
    text-decoration: none;
}

.bodymamalon {
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100%;
    justify-content: center;
    margin: 0; 
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    background-color: var(--input-background);
    color: var(--input-color);
    top: 120px;
    width: 100%; /* Establece el ancho al 100% del contenedor */
    max-width: 600px; /* Ajusta el ancho máximo si es necesario */
    z-index: 9999; /* Asegúrate de que esté por encima de otros elementos */
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: var(--input-background);
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

.header .icon {
    font-size: 30px;
    color: var(--text-color);
}


/* Modal styles */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0, 0, 0, 0.669); 
}

.modal-content {
    margin: 15% auto !important; 
    padding: 20px !important;
    width: 80% !important; 
    max-width: 500px; 
    box-shadow: 0 5px 15px rgba(0,0,0,0.3) !important;
    background-color: var(--inner-border) !important;
    color: var(--text-color) !important;
    animation-name: modalopen !important;
    animation-duration: 0.4s !important;
    border: 3px solid var(--neon1) !important;
    box-shadow: 0px 0px 10px 3px var(--neon1) !important;
    border-radius: 8px !important;
    position: relative !important;
}

@keyframes modalopen {
    from {opacity: 0}
    to {opacity: 1}
}

.close-button {
    color: var(--text-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
   margin-right: 20px;
    position: absolute;
    top: 0; 
    right: 0;  
    
}

.close-button:hover,
.close-button:focus {
    color: var(--neon1);
    text-decoration: none;
    cursor: pointer;
}

#userEmail{
    color: var(--text-color);
    font-size: 20px;
}

#userInfo{
    color: var(--text-color);
    font-size: 21px;
    text-transform: uppercase;
}

.logout-button{
    text-decoration: none;
}

#userName{
    color: var(--text-color);
    font-size: 20px;
}

.btnOptions {
    display: flex;
    justify-content: space-between;
}

.modal a{
    color: var(--text-color);
}

.toggle {
    background-color: #fff;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    box-shadow: 0 0 50px 20px rgba(0, 0, 0, .1);
    line-height: 1;
  }
  
  .input {
    display: none;
  }
  
  .icon {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    transition: transform 500ms;
  }
  
  .icon--moon {
    transition-delay: 200ms;
  }
  
  .icon--sun {
    transform: scale(0);
  }
  
  #switch:checked + .icon--moon {
    transform: rotate(360deg) scale(0);
  }
  
  #switch:checked ~ .icon--sun {
    transition-delay: 200ms;
    transform: scale(1) rotate(360deg);
  }

  .theme-switch {
    position: relative;
    display: flex;
    justify-content: center;
    direction: rtl;
    padding: 0px 0px 0px 25px;
  }
  
  #theme-checkbox {
    display: none;
    
  }
  
  #theme-checkbox + label {
    /* change the font-size below to change the size of the switch button*/
    font-size: 2rem;
    height: 1em;
    width: 2.5em;
    border-radius: 0.25em;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    background-color: #cecece;
    position: relative;
  }
  
  #theme-checkbox:checked + label {
    background-color: #3a3a3a;
  }
  
  #theme-checkbox + label:active {
    transform: scale(0.85);
    transition: transform 0.2s;
  }
  
  #theme-checkbox + label div {
    width: 0.8em;
    height: 0.8em;
    border-radius: inherit;
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    z-index: 10;
    transition: 0.5s cubic-bezier(1, 0.33, 0.11, 1.34);
    background-color: #f2f2f2;
  }
  
  #theme-checkbox:checked + label div {
    /* left: calc(2.5em - .8em - .1em); */
    left: 1.6em;
    background-color: #212121;
  }
  
  #theme-checkbox + label span {
    display: flex;
  }
  
  #theme-checkbox + label svg {
    display: inline-block;
    
    width: 1em;
    padding: 0.15em;
    box-sizing: border-box;
  }
  
  #theme-checkbox + label span:first-of-type {
    color: #3a3a3a;
  }
  
  #theme-checkbox + label span:last-of-type {
    color: #cecece;
  }
  