@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

/* Override d-block class for images inside the carousel */
#carousel-inner img {
    width: 200px; /* Ensures images fill their container */
    height: 100px; /* Maintains aspect ratio */
    margin-left: 10px;
}

/* Set explicit width and height for videos inside the carousel */
#carousel-inner video {
    width: 200px;
    height: 100px;
}

.container1 {
    margin-left: 70px;
    margin-right: 70px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    
}

.container2 {
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 10px;
}

.row {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    padding: 10px;
    border: 1px solid #333;
}

.full-image {
    width: 950px;
    height: 500px;
}

.right {
    width: 350px;
    height: 200px;
}

.namecontainer {
    margin-left: 70px;
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 24px;
    font-weight: bold;
}

.main {
    display: contents;
}

.buygame {
    border: 1px solid #333;
    margin: 70px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.textbuy {
    margin-left: 20px;
}

.container3 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    
    border-radius: 10px;
}

.buybuttoncontainer {
    display: flex;
    justify-content: flex-end; /* Alinea el contenido al final del contenedor */
    align-items: center; /* Centra verticalmente */
    padding-right: 20px;
}

.buybutton{
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 8px;
    font-size: 17px;
    font-family: 'Tilt Neon';
    font-weight: 500;
    color: var(--text-color);
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 2px solid var(--text-color);
    transition: 0.5s ease;
    user-select: none;
}

.buybutton:hover,
.buybutton:focus {
    color: var(--white);
    background: var(--neon1);
    border: 1px solid var(--neon1);
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px var(--neon1), 0 0 10px var(--neon1), 0 0 20px var(--neon1),
      0 0 40px var(--neon1);
  }



.full-video {
    width: 950px;
    height: 500px;
    margin: 0 auto;
    display: block; /* Hace que el video se centre horizontalmente */
    margin-top: 20px; /* Espacio entre el video y otros elementos */
}

.container3 {
    position: relative;
}

.buybuttoncontainer {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px; /* Espacio opcional para dar margen al botón */
}