@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

.principals{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: var(--inner-border);
    border: 3px solid var(--neon2);
    box-shadow: 0px 0px 10px 3px var(--neon2);
    cursor: pointer;
}

::placeholder{
    font-family: 'Tilt Neon';
}

.img-principals{
    width: 100%;
}

.game-title{
    text-align: left;
}

.content{
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 20px;
    margin-top: 50px;
    max-width: 100%;
}

.sidebar{
    background: var(--inner-border);
    border-radius: 10px;
    text-align: center;
    border: 3px solid var(--neon3);
    box-shadow: 0px 0px 10px 3px var(--neon3);
}

.sidebar h2{
    font-family: 'Tilt Neon';
    font-size: 25px;
    padding: 10px 0px 5px 0px;
}

.sidebar ul{
    text-align: left;
    list-style-type:none ;
}
.sidebar a{
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
    color: var(--text-color);
}

.genres{
    cursor: pointer;
    
}

.genrebtn{
    margin-top: 20px;
    border-radius: 8px;
    font-size: 17px;
    font-family: 'Tilt Neon';
    font-weight: 500;
    color: var(--text-color);
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #ffffff00;
    transition: 0.5s ease;
    user-select: none;
}

.genrebtn:hover,
.genrebtn:focus {
    color: #ffffff;
    background: var(--neon3);
    border: 1px solid var(--neon3);
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px var(--neon3), 0 0 20px var(--neon3), 0 0 50px var(--neon3),
      0 0 100px var(--neon3);
  }

  .genrebtn.clicked {
    color: #ffffff;
    background: var(--neon3);
    border: 1px solid var(--neon3);
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px var(--neon3), 0 0 20px var(--neon3), 0 0 50px var(--neon3),
      0 0 100px var(--neon3);
}
