@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

.buybuttoncontainer {
    text-align: center;
}

.buybutton {
    padding: 10px 20px;
    background-color: var(--deep-pink);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buybutton:hover {
    background-color: var(--gold);
}

.footerContent h4 {
    margin: 10px 0;
}

.cart-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--iner-border);
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    width: 100%;
    border: 2px solid var(--neon2);
    box-shadow: 0px 0px 10px 3px var(--neon2);
    
}

.cart-item img {
    height: 100px;
    border-radius: 10px;
}

.cart-item p {
    margin: 0 20px;
}

.tittleHistory{
    margin-top: 20px;
    margin-left: 40px;
    font-family: 'Tilt Neon';
    font-size: 40px;
}

.cart-item .quantity, .cart-item .total {
    font-size: 18px;
}

.cart-item .remove-button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text-color);
    font-size: 20px;
}

.cart-item .remove-button:hover {
    color: var(--gold);
}

.remove-item-button{
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 17px;
    font-family: 'Tilt Neon';
    font-weight: 500;
    color: var(--text-color);
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 2px solid var(--text-color );
    transition: 0.5s ease;
    user-select: none;
}

.remove-item-button:hover,
.remove-item-button:focus {
    color: #ffffff;
    background: #f02121;
    border: 1px solid #f02121;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #f02121;
  }

.btnClear{
    height: 50px;
    border-radius: 8px;
    font-size: 17px;
    font-family: 'Tilt Neon';
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 2px solid #ffffffd4;
    transition: 0.5s ease;
    user-select: none;
}

.btnClear:hover,
.btnClear:focus {
    color: #ffffff;
    background: #f02121;
    border: 1px solid #f02121;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #f02121;
  }

.purchase-btn{
    width: 200px;
    height: 50px;
    border-radius: 8px;
    font-size: 17px;
    font-family: 'Tilt Neon';
    font-weight: 500;
    color: #ffffff94;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 2px solid #ffffffd4;
    transition: 0.5s ease;
    user-select: none;
}

.purchase-btn:hover,
.purchase-btn:focus {
    color: #ffffff;
    background: #0dc84b;
    border: 1px solid #0dc84b;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #0dc84b;
  }


  .modalCart {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modalCart-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    text-align: left;
    position: relative;
}

.modalCart h2{
    margin-left: 45px;
}

.close {
    color: var(--text-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
   margin-right: 20px;
    position: absolute;
    top: 0; 
    right: 0;  
    
}

.close:hover,
.close:focus {
    color: var(--neon1);
    text-decoration: none;
    cursor: pointer;
}

.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.modalCart input{
    border-radius: 8px;
}

